html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section
                div(class="px-6 lg:px-12 py-6")
                    nav(class="flex justify-between")
                        div(class="flex w-full items-center")
                            a(href="#")
                                img(class="h-12", src="images/LOGOOOO-removebg-preview.png", alt="")
                            ul(class="hidden xl:flex px-4 ml-14 2xl:ml-40 mr-auto")
                                li(class="mr-8 2xl:mr-14")
                                    a(class="flex items-center font-heading font-medium hover:text-darkBlueGray-400", href="dashboard.html")
                                        img(class="mr-2", src="uinel-assets/elements/dashboard-navigations/dashboards.svg", alt="")
                                        span Dashboard
                                li(class="mr-8 2xl:mr-14")
                                    a(class="flex items-center font-heading font-medium hover:text-darkBlueGray-400", href="daftarhadir.html")
                                        img(class="mr-2", src="uinel-assets/elements/dashboard-navigations/users.svg", alt="")
                                        span Daftar Hadir
                                li(class="mr-8 2xl:mr-14")
                                    a(class="flex items-center font-heading font-medium hover:text-darkBlueGray-400", href="prestasi.html")
                                        img(class="mr-2", src="uinel-assets/elements/dashboard-navigations/chat.svg", alt="")
                                        span Prestasi
                                li(class="mr-8 2xl:mr-14")
                                    a(class="flex items-center font-heading font-medium hover:text-darkBlueGray-400", href="pelanggaran.html")
                                        img(class="mr-2", src="uinel-assets/elements/dashboard-navigations/add-mail.svg", alt="")
                                        span(class="mr-6") Pelanggaran
                                        svg(width="8", height="5", viewbox="0 0 8 5", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z", fill="#8C949F")
                                li
                                    a(class="flex items-center font-heading font-medium hover:text-darkBlueGray-400", href="pembayaran.html")
                                        img(class="mr-2", src="uinel-assets/elements/dashboard-navigations/folder.svg", alt="")
                                        span(class="mr-6") Pembayaran
                                        svg(width="8", height="5", viewbox="0 0 8 5", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z", fill="#8C949F")
                            div(class="hidden xl:flex items-center")
                                a(class="relative inline-block text-darkBlueGray-300 hover:text-darkBlueGray-400", href="#")                   
                                |                   
                                |                 
                                div(class="flex-shrink-0 w-px h-12 bg-gray-100 ml-9 mr-10")
                                a(class="flex items-center text-darkBlueGray-400 hover:text-darkBlueGray-500", href="#")
                                    div(class="mr-6 text-right")
                                        span(class="block font-heading font-medium leading-tight") Sona
                                    img(class="mr-4", src="uinel-assets/elements/navigations/avatar-online.png", alt="")
                                    svg(width="8", height="5", viewbox="0 0 8 5", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z", fill="#8C949F")
                        button(class="navbar-burger self-center xl:hidden")
                            svg(width="25", height="16", viewbox="0 0 25 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(width="25", height="2", fill="currentColor")
                                rect(y="14", width="25", height="2", fill="currentColor")
                div(class="navbar-menu hidden fixed top-0 left-0 bottom-0 w-full sm:w-5/6 max-w-max z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-darkGray-800 opacity-80")
                    nav(class="relative flex flex-col py-20 px-10 h-full w-full bg-blueGray-100 overflow-y-auto")
                        button(class="navbar-close absolute top-10 right-10")
                            svg(width="14", height="13", viewbox="0 0 14 13", fill="none", xmlns="http://www.w3.org/2000/svg")
                                line(x1="13.495", y1="0.494975", x2="1.49498", y2="12.495", stroke="#326BFF", stroke-width="1.4")
                                line(x1="12.505", y1="12.495", x2="0.505026", y2="0.494976", stroke="#326BFF", stroke-width="1.4")
                        a(class="inline-block mb-12", href="#")
                            img(class="h-12", src="uinel-assets/logos/dashboard/uifive-white-black.svg", alt="")
                        ul(class="mb-16")
                            li
                                a(class="flex items-center pl-10 pr-24 py-4 bg-white rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/dashboards.svg", alt="")
                                    span Dashboard
                            li
                                a(class="flex items-center pl-10 pr-24 py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/users.svg", alt="")
                                    span Users
                            li
                                a(class="flex items-center pl-10 pr-24 py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/chat.svg", alt="")
                                    span Chat
                            li
                                a(class="flex items-center pl-10 pr-24 py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/dashboards.svg", alt="")
                                    span Chat
                            li
                                a(class="flex items-center pl-10 pr-8 w-full py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/add-mail.svg", alt="")
                                    span(class="mr-auto") Messages
                                    svg(width="8", height="5", viewbox="0 0 8 5", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.97291 0.19311C7.20854 -0.0645328 7.58938 -0.0645328 7.82328 0.19311C8.05804 0.450753 8.05978 0.867019 7.82328 1.12466L4.42529 4.80665C4.19053 5.06429 3.81056 5.06429 3.57406 4.80665L0.176073 1.12466C-0.0586909 0.86798 -0.0586909 0.450753 0.176073 0.19311C0.411706 -0.0645328 0.792544 -0.0645328 1.02644 0.19311L4.00098 3.21272L6.97291 0.19311Z", fill="#8C949F")
                            li
                                a(class="flex items-center pl-10 pr-8 w-full py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/folder.svg", alt="")
                                    span(class="mr-auto") Catalog
                                    svg(width="8", height="5", viewbox="0 0 8 5", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.97291 0.19311C7.20854 -0.0645328 7.58938 -0.0645328 7.82328 0.19311C8.05804 0.450753 8.05978 0.867019 7.82328 1.12466L4.42529 4.80665C4.19053 5.06429 3.81056 5.06429 3.57406 4.80665L0.176073 1.12466C-0.0586909 0.86798 -0.0586909 0.450753 0.176073 0.19311C0.411706 -0.0645328 0.792544 -0.0645328 1.02644 0.19311L4.00098 3.21272L6.97291 0.19311Z", fill="#8C949F")
                        span(class="inline-block mb-6 text-sm text-darkBlueGray-400 font-heading font-medium") New tools
                        ul(class="mb-16")
                            li
                                a(class="flex items-center pl-10 pr-24 py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/pointer.svg", alt="")
                                    span Location
                            li
                                a(class="flex items-center pl-10 pr-24 py-4 bg-transparent rounded-3xl font-medium font-heading", href="#")
                                    img(class="mr-5", src="uinel-assets/elements/dashboard-navigations/document.svg", alt="")
                                    span Documents
                        ul(class="pb-24 mb-auto")
                            li
                                a(class="text-sm text-darkBlueGray-400 font-heading font-medium leading-8", href="#") About
                            li
                                a(class="text-sm text-darkBlueGray-400 font-heading font-medium leading-8", href="#") Help center
                            li
                                a(class="text-sm text-darkBlueGray-400 font-heading font-medium leading-8", href="#") Contact
                        div(class="pt-8 border-t border-blueGray-200")
                            span(class="inline-block mb-5 text-sm text-darkBlueGray-400 font-heading font-medium") Upcoming
                            |               
                            a(class="flex items-center py-4 px-6 bg-white rounded-3xl shadow-lg text-darkBlueGray-300 hover:text-darkBlueGray-400", href="#")
                                img(class="w-10 sm:w-14 h-10 sm:h-14 mr-2 sm:mr-5", src="uinel-assets/images/dashboard-navigations/avatar-image.png", alt="")
                                div(class="pr-1 mr-auto")
                                    span(class="block text-sm text-darkBlueGray-900 font-heading font-medium leading-tight") Product design
                                    |                   
                                    span(class="text-xs text-darkBlueGray-300 font-medium leading-tight") MON, 8 AM
                                svg(width="5", height="8", viewbox="0 0 5 8", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M0.193232 1.02782C-0.064411 0.79219 -0.064411 0.411351 0.193232 0.177457C0.450875 -0.0573063 0.867141 -0.0590449 1.12478 0.177457L4.80677 3.57544C5.06441 3.8102 5.06441 4.19017 4.80677 4.42668L1.12478 7.82466C0.868102 8.05942 0.450875 8.05942 0.193232 7.82466C-0.0644107 7.58903 -0.0644107 7.20819 0.193232 6.97429L3.21284 3.99975L0.193232 1.02782Z", fill="currentColor")
            section(class="py-8 bg-blueGray-50")
                div(class="container px-4 mx-auto")
                    div(class="p-7 pb-12 pt-12 bg-white rounded-5xl")
                        h2(class="pl-10 xl:pl-24 text-3xl font-heading font-medium") Recent Transactions
                        div(class="overflow-x-auto")
                            div(class="inline-block min-w-full overflow-hidden")
                                table(class="mb-10 table-auto w-full")
                                    thead
                                        tr
                                            th(class="pl-10 xl:pl-24 h-20 bg-white text-left")
                                                span(class="block text-sm text-body text-opacity-40 font-heading font-semibold uppercase min-w-max") Transaction id
                                            th(class="p-5 h-20 bg-white")
                                                span(class="block text-sm text-body text-opacity-40 font-heading font-semibold uppercase min-w-max") Date
                                            th(class="p-5 h-20 bg-white")
                                                span(class="block text-sm text-body text-opacity-40 font-heading font-semibold uppercase min-w-max") E-mail
                                            th(class="p-5 h-20 bg-white")
                                                span(class="block text-sm text-body text-opacity-40 font-heading font-semibold uppercase min-w-max") Subscription
                                            th(class="p-5 h-20 bg-white")
                                                span(class="block text-sm text-body text-opacity-40 font-heading font-semibold uppercase min-w-max") Status
                                    tbody
                                        tr
                                            td(class="p-0")
                                                div(class="flex items-center pl-10 xl:pl-24 h-20 bg-blueGray-50 border-l border-t border-b border-gray-100 rounded-tl-5xl rounded-bl-5xl")
                                                    span(class="text-lg font-heading font-medium") WX90013
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") 08.04.2021
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") user@shuffle.dev
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") Monthly
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-r border-gray-100 rounded-tr-5xl rounded-br-5xl")
                                                    span(class="py-1 px-3 text-sm text-green-700 font-heading font-medium bg-green-200 rounded-full") Completed
                                        tr
                                            td(class="p-0")
                                                div(class="flex items-center pl-10 xl:pl-24 h-20 bg-white rounded-tl-5xl rounded-bl-5xl")
                                                    span(class="text-lg font-heading font-medium") WX90014
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") 08.04.2021
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") matthew@shuffle.dev
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") Lifetime
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="py-1 px-3 text-sm text-green-700 font-heading font-medium bg-green-200 rounded-full") Completed
                                        tr
                                            td(class="p-0")
                                                div(class="flex items-center pl-10 xl:pl-24 h-20 bg-blueGray-50 border-l border-t border-b border-gray-100 rounded-tl-5xl rounded-bl-5xl")
                                                    span(class="text-lg font-heading font-medium") WX90015
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") 08.04.2021
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") pat@shuffle.dev
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") Monthly
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-r border-gray-100 rounded-tr-5xl rounded-br-5xl")
                                                    span(class="py-1 px-3 text-sm text-orange-700 font-heading font-medium bg-orange-200 rounded-full") Canceled
                                        tr
                                            td(class="p-0")
                                                div(class="flex items-center pl-10 xl:pl-24 h-20 bg-white rounded-tl-5xl rounded-bl-5xl")
                                                    span(class="text-lg font-heading font-medium") WX90016
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") 08.04.2021
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") dawid@shuffle.dev
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    img(src="uinel-assets/elements/dashboard-tables/checkmark.svg", alt="")
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-white rounded-tr-5xl rounded-br-5xl")
                                                    span(class="py-1 px-3 text-sm text-orange-700 font-heading font-medium bg-orange-200 rounded-full") Pending
                                        tr
                                            td(class="p-0")
                                                div(class="flex items-center pl-10 xl:pl-24 h-20 bg-blueGray-50 border-l border-t border-b border-gray-100 rounded-tl-5xl rounded-bl-5xl")
                                                    span(class="text-lg font-heading font-medium") WX90017
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") 08.04.2021
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    span(class="text-lg text-darkBlueGray-400 font-heading") ya@shuffle.dev
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-gray-100")
                                                    img(src="uinel-assets/elements/dashboard-tables/checkmark.svg", alt="")
                                            td(class="p-0")
                                                div(class="flex items-center justify-center p-5 h-20 text-center bg-blueGray-50 border-t border-b border-r border-gray-100 rounded-tr-5xl rounded-br-5xl")
                                                    span(class="py-1 px-3 text-sm text-green-700 font-heading font-medium bg-green-200 rounded-full") Completed
                        div(class="pl-10 xl:pl-24 max-w-max")
                            a(class="block py-4 px-7 w-full leading-3 text-white font-semibold tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl", href="#") Show more
        script(src="https://cdn.jsdelivr.net/npm/apexcharts")
        script(src="js/charts-demo.js")
